extends ./layout/index
block contenido 
    .container 
        h1 To do lists
            .row-md
                h3
                    .container
                        .col-1-md-auto
                            a.link( class="btn-success" href="/mylists1") My lists
                        .col-1-md-auto
                            a.link(class="btn-success" href="/newlist" ) New list
