header  
    div.navegacion
        .container
            .row.justify-content-center.justify-content-md-center.align-items-center.py-4
                col-md-auto
                    a(href="/") 
                        img(src="/img/mytodolistlogo.svg", alt="To do list logo")
                col-md-auto
